.img-caption-row {
  display: flex;
  justify-content: center;
  gap: 2em; /* space between the two images */
  flex-wrap: wrap; /* allows them to stack on small screens */
  margin: 2em 0;
}

.img-with-caption {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .img-with-caption img {
    width: 100%;
    height: auto;
  }
  
  .img-with-caption em {
    display: block;
    margin-top: 0.5em;
    font-style: italic;
    font-size: 0.95em;
    color: #555;
  }


  .img-with-caption-wide {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .img-with-caption-wide img {
    width: 100%;
    height: auto;
  }
  
  .img-with-caption-wide em {
    display: block;
    margin-top: 0.5em;
    font-style: italic;
    font-size: 0.95em;
    color: #555;
  }
