.project-preview {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}

.project-preview img {
  margin-right: 20px;
  max-width: 150px;
  height: auto;
  border-radius: 8px;
}

.project-text {
  display: flex;
  flex-direction: column;
}
